body {
	text-align: center;
}
header{
	border: 3px solid #000000;
	background-position: center;
	background-size: 300px 100px;
	background-color: blue;
}
 ul li {
	list-style-type: none;
}
main h2  {
	font-style: italic;
}